<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.job.xo.mapper.JobInfoMapper">


    <sql id="Base_Column_List">
        t.id,
		t.job_group,
		t.job_desc,
        t.create_time,
		t.update_time,
		t.author,
		t.alarm_email,
		t.schedule_type,
		t.schedule_conf,
		t.misfire_strategy,
		t.executor_route_strategy,
		t.executor_handler,
		t.executor_param,
		t.executor_block_strategy,
		t.executor_timeout,
		t.executor_fail_retry_count,
		t.glue_type,
		t.glue_source,
		t.glue_remark,
		t.glue_update_time,
		t.child_job_id,
		t.trigger_status,
		t.trigger_last_time,
		t.trigger_next_time
    </sql>

    <update id="stopJobCompose">
		update job_info set trigger_status = 0 where id = #{id} and trigger_status = 1;
	</update>

	<update id="pauseJob">
		update job_info set pause_status = #{pauseStatus} where id = #{id};
	</update>


    <select id="scheduleJobQuery" parameterType="java.util.HashMap" resultType="com.cc.job.xo.model.entity.JobInfo">
        SELECT <include refid="Base_Column_List" />
        FROM job_info AS t
        WHERE t.trigger_status = 1
        and t.trigger_next_time <![CDATA[ <= ]]> #{maxNextTime}
        ORDER BY id ASC
        LIMIT #{pagesize}
    </select>
</mapper>
