<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.job.task.mapper.TaskRegistryMapper">

    <!-- 获取执行器分页列表 -->
    <select id="getTaskRegistryPage" resultType="com.cc.job.task.model.vo.TaskRegistryVO">
        SELECT
                id,
                registry_group,
                registry_key,
                registry_value,
                update_time
        FROM
            task_registry
        <where>
        </where>
    </select>

</mapper>
