# 设置npm镜像源
registry=https://registry.npmmirror.com/

# 设置Electron镜像源
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# 设置其他镜像源
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/

# 优化安装
prefer-offline=true
fund=false
audit=false 